.Parallax {
  background-image: url("../images/Banner.jpg");
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Parallax-title {
  color: white;
  font-size: 6rem;
  text-align: center;
  text-shadow: black 0px 0px 10px;
}

.Get-started {
  background: rgb(179, 71, 102);
  background: linear-gradient(
    90deg,
    rgba(179, 71, 102, 1) 29%,
    rgba(235, 94, 121, 1) 53%,
    rgba(255, 124, 115, 1) 83%
  );
  padding: 10px 100px;
  text-align: center;
  border-radius: 20px;
}

.Get-started a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.563rem;
}

.features {
  display: flex;
  flex-wrap: wrap;
  align-items: top;
  justify-content: center;
  background-color: #fff;
  padding: 50px;
}

.feature {
  width: 30%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature i {
  font-size: 60px;
  margin-bottom: 20px;
  color: var(--Primary_orange);
}
