.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.Signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #FDFDFD;
}

.Signup-form label {
  align-self: flex-start;
}

.Signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Signup-form button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--Primary_red);
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.Signup-form button:hover {
  background-color: var(--Primary_orange);
}

.Login-link {
  margin-top: 20px;
  text-align: center;
}

.Login-link a {
  color: var(--Light_red);
  text-decoration: none;
}

.Login-link a:hover {
  text-decoration: underline;
}
